{% extends 'partials/base.html' %}


{% block content %}
    <h1>Crime Heatmap</h1>
    <div id="map" style="width: 100%; height: 600px;"></div>

    <!-- Include Leaflet and HeatMap JS libraries -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>

    <script>
        var map = L.map('map').setView([15.48586000, 120.96648000], 14);

        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            maxZoom: 19
        }).addTo(map);

        var heatData = {{ map1|safe }};

        L.heatLayer(heatData, { radius: 25 }).addTo(map);

        // Add geolocation feature
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                L.marker([lat, lon]).addTo(map)
                    .bindPopup('You are here!')
                    .openPopup();
                map.setView([lat, lon], 14);
            }, function() {
                alert("Geolocation service failed.");
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    </script>

    <!-- Register the service worker -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(function(registration) {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    })
                    .catch(function(error) {
                        console.log('ServiceWorker registration failed: ', error);
                    });
            });
        }
    </script>
{% endblock %}
